*{
    padding: 0;
    margin: 0;
    font-family: 'Ruda', sans-serif;
    
}

body{
 overflow-x: hidden;   
}


.nav-container{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 0;
    
    
    color: #FFFFFF;
    background-color: #000000;
    position: sticky;
    z-index: 10;
    top: 0;
    right: 0;
    
   

}

.company > h2{
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.06em;
    margin-left: 40px;
}

.lists{
    display: flex;
    
    list-style-type: none;
    flex-flow: row wrap;
    
    justify-content: space-between;
}

.lists li{
    padding: 0 3vh;
    font-size: 1.3vw;
    
   
    
}

.items a{
    color: #FFFFFF;
    text-decoration: none;
}

 .social-icons{
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    margin-right: 60px;
    
    
}

.social-icons a{
    
    font-size: 1rem;
    color: #FFFFFF;
}

main{
    box-sizing: border-box;

position: relative;
width: 100%;
height: 120vh;



background-image: url('pizza1\ 1.png');
background-repeat: no-repeat;
background-size: cover;

background-position-y:center ;



z-index: 1;

}

.main-container h1{
    position: absolute;
    width: 60vw;
    
    left: 2.8vw;
    top: 7vw;
    
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 700;
    font-size: 7vw;
    
   
    
    text-align: center;
    letter-spacing: 0.09em;
    
    color: #FFFFFF;
    z-index: 3;
}

.bg-overlay{
    /* background-image: linear-gradient(0deg,rgba(0,0,0,0.8) 0,transparent 60%,rgba(0,0,0,0.8)); */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(39, 39, 39, 0.05) 0.01%, rgba(31, 31, 31, 0.0529908) 0.02%, rgba(0, 0, 0, 0.065) 13.02%, rgba(0, 0, 0, 0.5) 100%);
filter: drop-shadow(3px 6px 18px rgba(0, 0, 0, 0.25)); 
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: hidden;
}



.box img{
    left: 116px;
top: 300px;
position: absolute;
}

.rectangle{
    box-sizing: border-box;

position: absolute;
width: 45vw;
height: 0.8vw;
left: 12vw;
top: 25vw;

background: #fd2c2c;
box-shadow: 3px 6px 18px rgba(0, 0, 0, 0.25);
}

.box p{
    position: absolute;
width: 50vw;

left: 12vw;
top: 28vw;

font-family: 'Ruda';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 3.8vw;
z-index: 3;

letter-spacing: 0.09em;

color: #ffffff;
}

.about{
    background-color:  black;
    color: white;
    padding: 70px 50px;
}

.head{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    row-gap: 2vw;
}

.about .rectangle2{
    
width: 500px;
height: 10px;
left: 599px;
top: 1289px;

background: #B62828;
}

.text-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    
    margin-top: 120px;

     
}

.about h2{
    font-family: 'Quattrocento';
font-style: normal;
font-weight: 400;
font-size: 40px;

}

.text-img p{
    width: 38vw;
    text-align: justify;
height: 250px;
font-weight: 400;
font-size: 16px;
line-height: 30px;





letter-spacing: 0.09em;
}

.text-img img{
    width: 40vw;
    height: 30vw;
    
}

.rectangle3{
    width: 410px;
    height: 4px;
    margin-bottom: 10px;

background: #F24C4C;
box-shadow: 3px 6px 18px rgba(0, 0, 0, 0.25);
}

.menu-container > p {
    font-family: 'Ruda';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 2.2vw;
padding-left: 5vw;

letter-spacing: 0.09em;
width: 80vw;
height: 12vw;
margin-top: 3vw;
color: #FFFFFF;
}

.food{
    display: flex;
    align-items: center;
    column-gap: 3vw;
    
    
}

.food img{
    height: 12vw;
    width: 15vw;
    
}

.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3vw;
    
    justify-content: flex-end;
    row-gap: 1vw;
  
}

.text h3{
   
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 0px;





color: #F2C94C;
}
.text p{
    font-family: 'Ruda';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 40px;
/* or 200% */

letter-spacing: 0.07em;

color: #FFFFFF;
}

.food-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 5vw;
    column-gap: 2.5vw;
    padding: 0 5vw;
    
}

.find-container{
    padding-top: 57px;
}
.find-sec{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    margin-top: 57px;

}

.map{
    width: 40vw;
height: 338px;
}
.location{
    display: flex;
    align-items: center;
    font-family: 'Ruda';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 40px;
/* or 200% */
column-gap: 35px;
letter-spacing: 0.09em;

color: #FFFFFF;
}

.phone{
    
display: flex;
align-items: center;

font-family: 'Ruda';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 40px;
/* or 200% */
column-gap: 30px;
margin-top: 15px;

letter-spacing: 0.09em;

color: #FFFFFF;
}
.first>p{
    width: 50vw;
height: 181px;
    padding-right: 5vw;

font-family: 'Ruda';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 40px;
/* or 160% */

letter-spacing: 0.09em;

color: #FFFFFF;
}

.location i, .phone i{
    font-size: 30px;
}

.test{
    display: flex;
    flex-direction: column;
}

.footer{
    background-color:  black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding-top: 60px;
    flex-wrap: wrap ;
    

}
.mail-box{
    padding-right: 5%;
}
.mail-box span{
    font-size: 16px;
}
.footer img{
    height: 200px;
    width: 200px;
    padding-left: 5%;
    /* padding-left: 160px; */
    
}
