*{
    padding: 0;
    margin: 0;
    font-family: 'Ruda', sans-serif;
    
}

.nav-container{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    width: 100%;
    
    color: #FFFFFF;
    background-color: #000000;
    position: sticky;
    z-index: 10;
    top: 0;
    right: 0;
    
   

}

.company > h2{
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.06em;
    margin-left: 40px;
}

.lists{
    display: flex;
    
    list-style-type: none;
    
    
    justify-content: space-between;
}

.lists li{
    padding: 0 3vh;
    font-size: 24px;
    
   
    
}

.items a{
    color: #FFFFFF;
    text-decoration: none;
}

 .social-icons{
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-right: 60px;
    
    
}

.social-icons a{
    
    font-size: 1.5rem;
    color: #FFFFFF;
}

main{
    box-sizing: border-box;

position: relative;
width: 100%;
height: 100vh;



background-image: url('pizza1\ 1.png');
background-repeat: no-repeat;
background-size: cover;

background-position-y:center ;



z-index: 1;

}

.main-container h1{
    position: absolute;
    width: 902px;
    height: 215px;
    left: 17px;
    top: 80px;
    
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 100px;
    /* or 107% */
    
    text-align: center;
    letter-spacing: 0.09em;
    
    color: #FFFFFF;
    z-index: 3;
}

.bg-overlay{
    /* background-image: linear-gradient(0deg,rgba(0,0,0,0.8) 0,transparent 60%,rgba(0,0,0,0.8)); */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(39, 39, 39, 0.05) 0.01%, rgba(31, 31, 31, 0.0529908) 0.02%, rgba(0, 0, 0, 0.065) 13.02%, rgba(0, 0, 0, 0.5) 100%);
filter: drop-shadow(3px 6px 18px rgba(0, 0, 0, 0.25)); 
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    overflow-y: hidden;
}



.box img{
    left: 116px;
top: 300px;
position: absolute;
}

.rectangle{
    box-sizing: border-box;

position: absolute;
width: 586px;
height: 13px;
left: 176px;
top: 323px;

background: #fd2c2c;
box-shadow: 3px 6px 18px rgba(0, 0, 0, 0.25);
}

.box p{
    position: absolute;
width: 599px;
height: 325px;
left: 176px;
top: 390px;

font-family: 'Ruda';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 40px;
/* or 160% */

letter-spacing: 0.09em;

color: #ffffff;
}

.about{
    background-color:  #1E1E1E;
    color: white;
    padding: 70px 50px;
}

.head{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    row-gap: 15px;
}

.about .rectangle2{
    /* position: absolute; */
width: 506px;
height: 10px;
left: 599px;
top: 1289px;

background: #B62828;
}

.text-img{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    
    margin-top: 120px;

     
}

.about h2{
    font-family: 'Quattrocento';
font-style: normal;
font-weight: 400;
font-size: 40px;

}

.text-img p{
    width: 520px;
height: 320px;
font-weight: 400;
font-size: 20px;
line-height: 40px;

display: flex;
align-self: center;


letter-spacing: 0.09em;
}

.text-img img{
    width: 500px;
    height: 380px;
    
}

.rectangle3{
    width: 535px;
    height: 4px;
    margin-bottom: 10px;

background: #F24C4C;
box-shadow: 3px 6px 18px rgba(0, 0, 0, 0.25);
}

.menu-container > p {
    font-family: 'Ruda';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 40px;
/* or 160% */

letter-spacing: 0.09em;
width: 1315px;
height: 250px;
margin-top: 57px;
color: #FFFFFF;
}

.food{
    display: flex;
    align-items: center;
    column-gap: 35px;
    
}

.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 346px;
    height: 160px;
    justify-content: flex-end;
    row-gap: 27px;
  
}

.text h3{
   
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 0px;


display: flex;
align-items: center;

color: #F2C94C;
}
.text p{
    font-family: 'Ruda';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;
/* or 200% */

letter-spacing: 0.07em;

color: #FFFFFF;
}

.food-cards{
    display: grid;
    grid-template-columns: repeat(2,auto);
    row-gap: 55px;
    column-gap: 40px;
}

.find-container{
    padding-top: 57px;
}
.find-sec{
    display: grid;
    grid-template-columns: repeat(2,auto);
    width: 1315px;
    margin-top: 57px;

}

.map{
    width: 585px;
height: 338px;
}
.location{
    display: flex;
    align-items: center;
    font-family: 'Ruda';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 40px;
/* or 200% */
column-gap: 35px;
letter-spacing: 0.09em;

color: #FFFFFF;
}

.phone{
    
display: flex;
align-items: center;

font-family: 'Ruda';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 40px;
/* or 200% */
column-gap: 30px;
margin-top: 15px;

letter-spacing: 0.09em;

color: #FFFFFF;
}
.first>p{
    width: 640px;
height: 181px;

font-family: 'Ruda';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 40px;
/* or 160% */

letter-spacing: 0.09em;

color: #FFFFFF;
}

.location i, .phone i{
    font-size: 30px;
}

.test{
    display: flex;
    flex-direction: column;
}

.footer{
    background-color:  #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding-top: 60px;
    flex-wrap: wrap ;
    

}
.mail-box{
    padding-right: 5%;
}
.mail-box span{
    font-size: 16px;
}
.footer img{
    height: 200px;
    width: 200px;
    padding-left: 5%;
    /* padding-left: 160px; */
    
}